{% extends "layout.html" %}
{% block title %}Home page{% endblock %}
{% block content %}

<main role="main">
  <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
          <h1>Welcome</h1>
          <p style="color: black;"><b> Welcome to Bank Management System! Bank Management System serves individual customers, to manage their savings and current accounts. It has the ability to create or open account, update and delete customer, manage transactions such as deposit, withdraw and transfer functionalities.</b></p>
      </div>
  </div>
</main>
{% endblock %}
